*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  overscroll-behavior: none;
  font-synthesis: none;
  color: black;
  accent-color: black;
  background: white;
}

#root {
  isolation: isolate;
}

.window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
}

.window-body {
  margin: 0 3px;
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.window-body .grow {
  flex: 1;
}
